<h1>Create Product</h1>
<style>
  .padding-top {
    padding-top: 20px
  }

</style>

<center>
  <div class="container">
    <form>
      Product Name:<br>
      <input type="text" required name="name"><br>
      Description:<br>
      <textarea name="Description" rows="10" cols="30"></textarea>
      <br>
      Quantity: <br>
      <input type="number" name="quantity" min="1" max="100">
      <br>
      Price: <br>
      <input type="number" name="quantity" min="1" max="1000">
      <br>
      <div class="padding-top">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</center>

