<h1> Products</h1>

<div class="btn-pad">
  <a class="btn btn-primary" href="/ui/products/create"> Create Product</a>

</div>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  {{#each products}}
    <tr>
      <td>
        {{name}}
      </td>
      <td>
        {{description}}
      </td>
      <td>
        {{quantity}}
      </td>
      <td>
        {{price}}
      </td>
    </tr>
  {{/each}}
</table>
